This code selects atoms within a distance to create new file "inclu". The files "3Pt", "4Pt", "1Co" and "2Co" contains atoms that are in the same layer (same z-position). The file "data" contains the central atoms from each layer. Then, considering the central atom, the neighboring atoms within a determined distance are found in each layer and saved in the file "inclu".

In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

### Read atoms from layers 3Pt, 4Pt, 1Co and 2Co

In [146]:
#Read atoms for 3Pt layer
with open('atom3Pt') as f:
    lines=f.readlines()

pt3=[]
for i in lines:
    pt3.append(i.split())

pt3 = pd.DataFrame(pt3)
pt3.columns = ["id","x","y","z"]
pt3 = pt3.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 4Pt layer
with open('atom4Pt') as f:
    lines=f.readlines()

pt4=[]
for i in lines:
    pt4.append(i.split())

pt4 = pd.DataFrame(pt4)
pt4.columns = ["id","x","y","z"]
pt4 = pt4.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 1Co layer
with open('atom1Co') as f:
    lines=f.readlines()


co1=[]
for i in lines:
    co1.append(i.split())

co1 = pd.DataFrame(co1)
co1.columns = ["id","x","y","z"]
co1 = co1.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 2Co layer
with open('atom2Co') as f:
    lines=f.readlines()

co2=[]
for i in lines:
    co2.append(i.split())

co2 = pd.DataFrame(co2)
co2.columns = ["id","x","y","z"]
co2 = co2.astype({"id":str, "x":float, "y":float, "z":float})

In [147]:
#Check if the dataframes are correct
print("3Pt\n",pt3.head())
print("4Pt\n",pt4.head())
print("1Co\n",co1.head())
print("2Co\n",co2.head())

3Pt
    id       x       y       z
0  Pt  0.0000  0.4082  1.1546
1  Pt -2.1210  1.6328  1.1546
2  Pt -2.1210  0.4082  1.1546
3  Pt -1.7675  1.0205  1.1546
4  Pt -1.4140  1.6328  1.1546
4Pt
    id       x       y       z
0  Pt  0.3535  0.2041  1.7319
1  Pt -1.7675  1.4287  1.7319
2  Pt -1.7675  0.2041  1.7319
3  Pt -1.4140  0.8164  1.7319
4  Pt -1.0605  1.4287  1.7319
1Co
    id       x       y       z
0  Co  0.0000  0.0000  2.3092
1  Co -2.1210  1.2246  2.3092
2  Co -2.1210  0.0000  2.3092
3  Co -1.7675  0.6123  2.3092
4  Co -1.4140  1.2246  2.3092
2Co
    id       x       y       z
0  Co  0.0000  0.4082  2.8865
1  Co -2.1210  1.6328  2.8865
2  Co -2.1210  0.4082  2.8865
3  Co -1.7675  1.0205  2.8865
4  Co -1.4140  1.6328  2.8865

### Read data file

In [148]:
with open('data') as f:
    lines = f.readlines()

data = []
for i in lines:
    data.append(i.split())

data = data[4:]
data = pd.DataFrame(data)
data.columns=["x","y","z","id1","id2"]
data = data.astype({"x":float, "y":float, "z":float, "id1":int, "id2":int})

### Exclude the last 6 atoms

In [149]:
#Calculate the distance between central atom and atoms around in layer 3Pt

pt3['dist'] = np.sqrt((pt3['x']-data.iloc[2]['x'])**2 + (pt3['y']-data.iloc[2]['y'])**2 + (pt3['z']-data.iloc[2]['z'])**2)

pt3.sort_values(by=["dist"],inplace=True)

pt3 = pt3[pt3.dist < 2.2]

pt3.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 4Pt

pt4['dist'] = np.sqrt((pt4['x']-data.iloc[3]['x'])**2 + (pt4['y']-data.iloc[3]['y'])**2 + (pt4['z']-data.iloc[3]['z'])**2)

pt4.sort_values(by=["dist"],inplace=True)

pt4 = pt4[pt4.dist < 2.2]

pt4.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 1Co

co1['dist'] = np.sqrt((co1['x']-data.iloc[4]['x'])**2 + (co1['y']-data.iloc[4]['y'])**2 + (co1['z']-data.iloc[4]['z'])**2)

co1.sort_values(by=["dist"],inplace=True)

co1 = co1[co1.dist < 2.2]

co1.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 2Co

co2['dist'] = np.sqrt((co2['x']-data.iloc[5]['x'])**2 + (co2['y']-data.iloc[5]['y'])**2 + (co2['z']-data.iloc[5]['z'])**2)

co2.sort_values(by=["dist"],inplace=True)

co2 = co2[co2.dist < 2.2]

co2.drop(['dist'],axis=1,inplace=True)

In [150]:
clust1 = pd.concat([pt3,pt4,co1,co2])

clust1.reset_index(drop=True, inplace=True)

### Save cluster in file

In [151]:
#Save jmol version
clust1.to_csv('clust1.jmol', sep='\t', index=False, header=False, float_format='%12.8f')

#Save inclu version
clust1_rs = clust1.drop(['id'], axis=1)
clust1_rs.index += 1

clust1_rs.to_csv('inclu1', sep='\t', index=False, header=False, float_format='%12.8f')

In [152]:
clust1_rs

          x       y       z
1    0.0000  0.4082  1.1546
2    0.7070  0.4082  1.1546
3   -0.7070  0.4082  1.1546
4    0.3535  1.0205  1.1546
5   -0.3535  1.0205  1.1546
..      ...     ...     ...
144 -2.1210  0.4082  2.8865
145  1.0605 -1.4287  2.8865
146  1.0605  2.2451  2.8865
147 -1.0605 -1.4287  2.8865
148 -1.0605  2.2451  2.8865

[148 rows x 3 columns]

### Read atoms from layers 6Co, 7Co, 1Gd and 2Gd

In [153]:
#Read atoms for 6Co layer
with open('atom6Co') as f:
    lines=f.readlines()

co6=[]
for i in lines:
    co6.append(i.split())

co6 = pd.DataFrame(co6)
co6.columns = ["id","x","y","z"]
co6 = co6.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 7Co layer
with open('atom7Co') as f:
    lines=f.readlines()

co7=[]
for i in lines:
    co7.append(i.split())

co7 = pd.DataFrame(co7)
co7.columns = ["id","x","y","z"]
co7 = co7.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 1Gd layer
with open('atom1Gd') as f:
    lines=f.readlines()

gd1=[]
for i in lines:
    gd1.append(i.split())

gd1 = pd.DataFrame(gd1)
gd1.columns = ["id","x","y","z"]
gd1 = gd1.astype({"id":str, "x":float, "y":float, "z":float})

#Read atoms for 2Gd layer
with open('atom2Gd') as f:
    lines=f.readlines()

gd2=[]
for i in lines:
    gd2.append(i.split())

gd2 = pd.DataFrame(gd2)
gd2.columns = ["id","x","y","z"]
gd2 = gd2.astype({"id":str, "x":float, "y":float, "z":float})

In [154]:
#Check if the dataframes are correct
print("6Co\n",co6.head())
print("7Co\n",co7.head())
print("1Gd\n",gd1.head())
print("2Gd\n",gd2.head())

6Co
    id       x       y       z
0  Co  0.3535  0.2041  5.1957
1  Co -1.7675  1.4287  5.1957
2  Co -1.7675  0.2041  5.1957
3  Co -1.4140  0.8164  5.1957
4  Co -1.0605  1.4287  5.1957
7Co
    id       x       y      z
0  Co  0.0000  0.0000  5.773
1  Co -2.1210  1.2246  5.773
2  Co -2.1210  0.0000  5.773
3  Co -1.7675  0.6123  5.773
4  Co -1.4140  1.2246  5.773
1Gd
    id       x       y       z
0  Gd  0.0000  0.4082  6.3503
1  Gd -2.1210  1.6328  6.3503
2  Gd -2.1210  0.4082  6.3503
3  Gd -1.7675  1.0205  6.3503
4  Gd -1.4140  1.6328  6.3503
2Gd
    id       x       y       z
0  Gd  0.3535  0.2041  6.9276
1  Gd -1.7675  1.4287  6.9276
2  Gd -1.7675  0.2041  6.9276
3  Gd -1.4140  0.8164  6.9276
4  Gd -1.0605  1.4287  6.9276

### Exclude the last 6 atoms

In [155]:
#Calculate the distance between central atom and atoms around in layer 3Pt

co6['dist'] = np.sqrt((co6['x']-data.iloc[9]['x'])**2 + (co6['y']-data.iloc[9]['y'])**2 + (co6['z']-data.iloc[9]['z'])**2)

co6.sort_values(by=["dist"],inplace=True)

co6 = co6[co6.dist < 2.2]

co6.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 4Pt

co7['dist'] = np.sqrt((co7['x']-data.iloc[10]['x'])**2 + (co7['y']-data.iloc[10]['y'])**2 + (co7['z']-data.iloc[10]['z'])**2)

co7.sort_values(by=["dist"],inplace=True)

co7 = co7[co7.dist < 2.2]

co7.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 1Co

gd1['dist'] = np.sqrt((gd1['x']-data.iloc[11]['x'])**2 + (gd1['y']-data.iloc[11]['y'])**2 + (gd1['z']-data.iloc[11]['z'])**2)

gd1.sort_values(by=["dist"],inplace=True)

gd1 = gd1[gd1.dist < 2.2]

gd1.drop(['dist'],axis=1,inplace=True)

#Calculate the distance between central atom and atoms around in layer 2Co

gd2['dist'] = np.sqrt((gd2['x']-data.iloc[12]['x'])**2 + (gd2['y']-data.iloc[12]['y'])**2 + (gd2['z']-data.iloc[12]['z'])**2)

gd2.sort_values(by=["dist"],inplace=True)

print(gd2.head(40))

gd2 = gd2[gd2.dist < 2.2]

print(gd2.head(40))

gd2.drop(['dist'],axis=1,inplace=True)

    id       x       y       z      dist
0   Gd  0.3535  0.2041  6.9276  0.000000
15  Gd -0.3535  0.2041  6.9276  0.707000
28  Gd  1.0605  0.2041  6.9276  0.707000
27  Gd  0.7070 -0.4082  6.9276  0.707017
22  Gd  0.7070  0.8164  6.9276  0.707017
16  Gd  0.0000  0.8164  6.9276  0.707017
21  Gd  0.0000 -0.4082  6.9276  0.707017
9   Gd -0.7070  0.8164  6.9276  1.224570
34  Gd  1.4140 -0.4082  6.9276  1.224570
29  Gd  1.4140  0.8164  6.9276  1.224570
14  Gd -0.7070 -0.4082  6.9276  1.224570
26  Gd  0.3535 -1.0205  6.9276  1.224600
17  Gd  0.3535  1.4287  6.9276  1.224600
8   Gd -1.0605  0.2041  6.9276  1.414000
35  Gd  1.7675  0.2041  6.9276  1.414000
20  Gd -0.3535 -1.0205  6.9276  1.414035
33  Gd  1.0605 -1.0205  6.9276  1.414035
10  Gd -0.3535  1.4287  6.9276  1.414035
23  Gd  1.0605  1.4287  6.9276  1.414035
7   Gd -1.4140 -0.4082  6.9276  1.870553
3   Gd -1.4140  0.8164  6.9276  1.870553
40  Gd  2.1210 -0.4082  6.9276  1.870553
36  Gd  2.1210  0.8164  6.9276  1.870553
13  Gd -1.0605 -1.0205  6.9276  1.870572
4   Gd -1.0605  1.4287  6.9276  1.870572
39  Gd  1.7675 -1.0205  6.9276  1.870572
30  Gd  1.7675  1.4287  6.9276  1.870572
32  Gd  0.7070 -1.6328  6.9276  1.870605
11  Gd  0.0000  2.0410  6.9276  1.870605
18  Gd  0.7070  2.0410  6.9276  1.870605
25  Gd  0.0000 -1.6328  6.9276  1.870605
2   Gd -1.7675  0.2041  6.9276  2.121000
41  Gd  2.4745  0.2041  6.9276  2.121000
38  Gd  1.4140 -1.6328  6.9276  2.121052
24  Gd  1.4140  2.0410  6.9276  2.121052
19  Gd -0.7070 -1.6328  6.9276  2.121052
5   Gd -0.7070  2.0410  6.9276  2.121052
1   Gd -1.7675  1.4287  6.9276  2.449140
6   Gd -1.7675 -1.0205  6.9276  2.449140
37  Gd  2.4745  1.4287  6.9276  2.449140
    id       x       y       z      dist
0   Gd  0.3535  0.2041  6.9276  0.000000
15  Gd -0.3535  0.2041  6.9276  0.707000
28  Gd  1.0605  0.2041  6.9276  0.707000
27  Gd  0.7070 -0.4082  6.9276  0.707017
22  Gd  0.7070  0.8164  6.9276  0.707017
16  Gd  0.0000  0.8164  6.9276  0.707017
21  Gd  0.0000 -0.4082  6.9276  0.707017
9   Gd -0.7070  0.8164  6.9276  1.224570
34  Gd  1.4140 -0.4082  6.9276  1.224570
29  Gd  1.4140  0.8164  6.9276  1.224570
14  Gd -0.7070 -0.4082  6.9276  1.224570
26  Gd  0.3535 -1.0205  6.9276  1.224600
17  Gd  0.3535  1.4287  6.9276  1.224600
8   Gd -1.0605  0.2041  6.9276  1.414000
35  Gd  1.7675  0.2041  6.9276  1.414000
20  Gd -0.3535 -1.0205  6.9276  1.414035
33  Gd  1.0605 -1.0205  6.9276  1.414035
10  Gd -0.3535  1.4287  6.9276  1.414035
23  Gd  1.0605  1.4287  6.9276  1.414035
7   Gd -1.4140 -0.4082  6.9276  1.870553
3   Gd -1.4140  0.8164  6.9276  1.870553
40  Gd  2.1210 -0.4082  6.9276  1.870553
36  Gd  2.1210  0.8164  6.9276  1.870553
13  Gd -1.0605 -1.0205  6.9276  1.870572
4   Gd -1.0605  1.4287  6.9276  1.870572
39  Gd  1.7675 -1.0205  6.9276  1.870572
30  Gd  1.7675  1.4287  6.9276  1.870572
32  Gd  0.7070 -1.6328  6.9276  1.870605
11  Gd  0.0000  2.0410  6.9276  1.870605
18  Gd  0.7070  2.0410  6.9276  1.870605
25  Gd  0.0000 -1.6328  6.9276  1.870605
2   Gd -1.7675  0.2041  6.9276  2.121000
41  Gd  2.4745  0.2041  6.9276  2.121000
38  Gd  1.4140 -1.6328  6.9276  2.121052
24  Gd  1.4140  2.0410  6.9276  2.121052
19  Gd -0.7070 -1.6328  6.9276  2.121052
5   Gd -0.7070  2.0410  6.9276  2.121052

In [156]:
gd2

    id       x       y       z
0   Gd  0.3535  0.2041  6.9276
15  Gd -0.3535  0.2041  6.9276
28  Gd  1.0605  0.2041  6.9276
27  Gd  0.7070 -0.4082  6.9276
22  Gd  0.7070  0.8164  6.9276
16  Gd  0.0000  0.8164  6.9276
21  Gd  0.0000 -0.4082  6.9276
9   Gd -0.7070  0.8164  6.9276
34  Gd  1.4140 -0.4082  6.9276
29  Gd  1.4140  0.8164  6.9276
14  Gd -0.7070 -0.4082  6.9276
26  Gd  0.3535 -1.0205  6.9276
17  Gd  0.3535  1.4287  6.9276
8   Gd -1.0605  0.2041  6.9276
35  Gd  1.7675  0.2041  6.9276
20  Gd -0.3535 -1.0205  6.9276
33  Gd  1.0605 -1.0205  6.9276
10  Gd -0.3535  1.4287  6.9276
23  Gd  1.0605  1.4287  6.9276
7   Gd -1.4140 -0.4082  6.9276
3   Gd -1.4140  0.8164  6.9276
40  Gd  2.1210 -0.4082  6.9276
36  Gd  2.1210  0.8164  6.9276
13  Gd -1.0605 -1.0205  6.9276
4   Gd -1.0605  1.4287  6.9276
39  Gd  1.7675 -1.0205  6.9276
30  Gd  1.7675  1.4287  6.9276
32  Gd  0.7070 -1.6328  6.9276
11  Gd  0.0000  2.0410  6.9276
18  Gd  0.7070  2.0410  6.9276
25  Gd  0.0000 -1.6328  6.9276
2   Gd -1.7675  0.2041  6.9276
41  Gd  2.4745  0.2041  6.9276
38  Gd  1.4140 -1.6328  6.9276
24  Gd  1.4140  2.0410  6.9276
19  Gd -0.7070 -1.6328  6.9276
5   Gd -0.7070  2.0410  6.9276

In [157]:
clust2 = pd.concat([co6,co7,gd1,gd2])

clust2.reset_index(drop=True, inplace=True)

### Save cluster in file

In [158]:
#Save jmol version
clust2.to_csv('clust2.jmol', sep='\t', index=False, header=False, float_format='%12.8f')

#Save inclu version
clust2_rs = clust2.drop(['id'], axis=1)
clust2_rs.index += 1

clust2_rs.to_csv('inclu2', sep='\t', index=False, header=False, float_format='%12.8f')